$font-color-dark: #374C6B;
$font-color-light: #fff;
$background-color: #188FC9;
$border-color: #EFEFEF;
$orange: #E59945;
$dark-btn: #374C6B;
$dark-btn-hover: #5778ab;
$orange-btn: #E59945;
$orange-btn-hover: #ff951c;
$table-background-color: #F2F2F2;
$mobile-nav-background-color: hsla(200, 86%, 53%, 0.98);